
body {
    /*font-family: 'Open Sans', sans-serif;*/
	font-family:'Century Gothic';
    background-color: white;
    color: #333;
	text-align:center;
}

h1 {
    color: #7469B6;
}


.langagesOutils{
	   display: flex;
    flex-direction: row;
	width : 100%;
	
}

.langagesDIV{
	width : 50%;
	
}
.outilsDIV{
	width : 50%;
	
}

.div_taches{
	display: flex;
    flex-direction: row;
	margin-top:5%;
	margin-bottom:5%;
}

.img_taches{
	width:58%;
	/*border:2px solid black;*/
}
.txt_taches{
	width:40%;
	padding-left:2%;
	padding-right:2%;
	padding-bottom:2%;
}

h3{
	padding:1%;
	border-bottom: 2px solid #7469B6;
	margin-bottom:5%;
	
}
h2{
	/*margin :4%;*/
	margin-top :4%;
	
}

img{
	width:100%;
	border:2px solid #7469B6;
}


.bouton {
  background-color: #7469B6; 
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.img_projet{
	width:50%;
	margin-left:25%;
	margin-right:25%;
}


/*caroussel*/
.slider-container {
    max-width: 75%;
    position: relative;
    margin: auto;
    height: 350px;
    overflow: hidden;
}
.menu {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.menu label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}
.menu label:hover,.menu label:focus {
    background: #7469B6;
}

.slide-input{
    opacity: 0;
}
.slide-img {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.75s;
}
[id^="slide"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}